*
{
	margin:0;
	padding:0px;
}
body
{
	background-color:#F5F6CE;
}
ul li
{
	float:left;
	margin:10px;
}

ul
{
	list-style:none;
	float:left;
}

ul li a
{
	text-decoration:none;
}
.wrapper
{
	margin:auto;
	width:960px;
	display:block;
}
header
{
	float:left;
	width:960px;
	height:auto;
	background-color:#5F4C0B;

}
footer
{
	float:left;
	width:960px;
	height:auto;
	background-color:#5F4C0B;
}
nav
{
	float:left;
	width:960px;
}
.ttopics
{
	font:bold;
}
.desc
{

}
.title
{
		font:bold;
}
