*
{
	margin:0;
	padding:0px;
}
body
{
	background-color:#F5F6CE;
}
ul li
{
	float:left;
	margin:10px;
}

ul
{
	list-style:none;
	float:left;
}

ul li a
{
	text-decoration:none;
	color: #464646;
}
.wrapper
{
	margin:auto;
	width:960px;
	display:block;
}
header
{
	float:left;
	width:960px;
	height:auto;
	background-color:#5F4C0B;

}
footer
{
	float:left;
	width:960px;
	height:auto;
	background-color:#5F4C0B;
}
nav
{
	float:left;
	width:960px;
	color: #60493E;
}
.ttopics
{
	font:bold;
}
.desc
{

}
.title
{
		font:bold;
}

.b
{
text-align:center;
color:white;
}

h3
{
  display:block;
  font: bold 200%/100% "Lucida Grande";
  color: #464646;
  text-decoration:underline;
  margin: 21px 0 10px;
}

h4
{ display:block;
  position: relative;
  color: #464646;
  margin: 15px 0 1px;
}

.maincontent
  {
    color: #60493E;
  }
 .business
 {
  float:left;
 }
 
 h1
 {
  font-size: 30px;
  margin: 0 0 13px;
  display:block;
  color: #464646;
 }
