*{
margin:0;
padding:0;
}

body
  {
  background-color:black;
  }

#wrapper
  {
    width:960px;
    height:1000px;
    margin:0 auto;
    margin-top:20px;
    display:block;

  }

#head
  {
    float:left;
    width:960px;
    height:111px;
    display:block;
    font-size:50px;
    color:	#7B68EE;

  }

.search
    {
    float:right;
    display:block;
    color:#7B68EE;
    }

nav
   {

      float:left;
      display:block;
      width:100%;
      padding:3px;
   }
nav ul

  {
    list-style:none;
  }

nav ul li
  {
    float: left;
    font-size: 17px;
    font-weight: bold;
    padding: 21px 12px;

  }

nav ul li a
  {

  text-decoration:none;
  color:#7B68EE;
  }

.main_container
  {
  width:100%;
  display:block;
  height:1000px;

  }


* { font-family: Verdana; font-size: 10pt;text-color:white; }
.topic
  { font-weight: bold; border-bottom: 1px solid white; }





.accordion

  {
   margin: 50px;
   color:white;
   h3,p
      {
      padding: 10px;
      border: 20px solid black;
      border-bottom: 0;

      &:last-of-type
        {
          border-bottom: 1px solid black;
        }

      a
       {
        display: block;
        color: black;
        font-weight: bold;
       }
      }

    p
     {
     border-top: 0;

     font-size: 12px;
      &:last-of-type
     {
       border-top: 20px solid white;
       position: relative;
       top: 40px;
     }
  }
}

a
 {
  text-decoration: none;
 }
